Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# Only show errors
skip_output:
  - meta
  - success
  - summary

pre-commit:
  parallel: true
  commands:
    phpcs-core:
      glob: "wp-content/{*themes,plugins*}/core/**/*.php"
      run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

feat: improve slack messages
  .github/workflows/deploy-review-app.yml
  .github/workflows/deploy-test.yml
Due: none

ci: test version
  .github/workflows/deploy-review-app.yml
Due: none

style: change variable name
  .github/workflows/deploy-review-app.yml
Due: none

feat: use ssh-agent action
  .github/workflows/deploy-review-app.yml
Due: none

fix: use full git clone
  .github/workflows/deploy-review-app.yml
  .github/workflows/deploy-test.yml
Due: none

trigger build
  .github/workflows/deploy-review-app.yml
Due: none

test: testing slack payload
  .github/workflows/deploy-review-app.yml
Due: none

Update coding standards to v2, adjust phpcs.xml.dist
  composer.json
  composer.lock
  phpcs.xml.dist
Due: none

phpcs mu-plugins
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

phpcs core functions
  wp-content/plugins/core/functions/panels.php
  wp-content/plugins/core/functions/pluggable.php
  wp-content/plugins/core/functions/templates.php
Due: phpcs-core

phpcs wp-config.php
  wp-config.php
Due: none

phpcs wp-config-environment.php
  wp-config-environment.php
Due: none

phpcs core.php, move file autoloading to composer
  composer.json
  wp-content/plugins/core/core.php
Due: none

phpcs core theme block model templates
  wp-content/themes/core/blocks/accordion/accordion.php
  wp-content/themes/core/blocks/buttons/buttons.php
  wp-content/themes/core/blocks/cardgrid/cardgrid.php
  wp-content/themes/core/blocks/contentcolumns/contentcolumns.php
  wp-content/themes/core/blocks/contentloop/contentloop.php
  wp-content/themes/core/blocks/gallerygrid/gallerygrid.php
  wp-content/themes/core/blocks/galleryslider/galleryslider.php
  wp-content/themes/core/blocks/hero/hero.php
  wp-content/themes/core/blocks/icongrid/icongrid.php
  wp-content/themes/core/blocks/interstitial/interstitial.php
  wp-content/themes/core/blocks/leadform/leadform.php
  wp-content/themes/core/blocks/links/links.php
  wp-content/themes/core/blocks/logos/logos.php
  wp-content/themes/core/blocks/mediatext/mediatext.php
  wp-content/themes/core/blocks/quote/quote.php
  wp-content/themes/core/blocks/sectionnav/sectionnav.php
  wp-content/themes/core/blocks/spacer/spacer.php
  wp-content/themes/core/blocks/stats/stats.php
  wp-content/themes/core/blocks/tabs/tabs.php
Due: phpcs-core

phpcs routes
  wp-content/themes/core/routes/example_app/example_app.php
  wp-content/themes/core/routes/page/Page_Controller.php
  wp-content/themes/core/routes/search/Search_Controller.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/unsupported_browser/Unsupported_Browser_Controller.php
Due: phpcs-core

Run same validation as deploys do, make sure we now check pcss files
  .github/workflows/eslint.yml
Due: none

Fix job
  .github/workflows/eslint.yml
Due: none

Updated changelog
  changelog.md
Due: none

add back in reviewdog in addition to npm run validate
  .github/workflows/eslint.yml
Due: none

update eslint flags to specific config paths
  .github/workflows/eslint.yml
Due: none
