Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core, phpcs-mu

lefthook.yml:

# Lefthook git hooks
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

# Only show errors
skip_output:
  - meta
  - success
  - summary

pre-commit:
  parallel: true
  commands:
    phpcs-core:
      glob: "wp-content/{*themes,plugins*}/core/**/*.php"
      run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}
    phpcs-mu:
      glob: "wp-content/mu-plugins/*.php"
      run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Feature/sqone 636 stats block (#828)
  wp-content/plugins/core/src/Blocks/Types/Stats/Stats.php
  wp-content/themes/core/components/blocks/stats/Stats_Block_Controller.php
Due: phpcs-core

Feature/sqone 634 links block (#826)
  wp-content/plugins/core/src/Blocks/Types/Links/Links.php
  wp-content/themes/core/components/blocks/links/Links_Block_Controller.php
  wp-content/themes/core/components/link/Link_Controller.php
  wp-content/themes/core/components/link/link.php
Due: phpcs-core

Updates Card Grid block.
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid_Model.php
  wp-content/themes/core/components/blocks/card_grid/Card_Grid_Controller.php
Due: phpcs-core

PHPCS cleanup.
  wp-content/plugins/core/src/Blocks/Types/Card_Grid/Card_Grid.php
Due: phpcs-core

Updates Buttons Block.
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/themes/core/components/blocks/buttons/Buttons_Block_Controller.php
Due: phpcs-core

PHPCS cleanup.
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
Due: phpcs-core

Updates Buttons Block. (#835)
  wp-content/plugins/core/src/Blocks/Types/Buttons/Buttons.php
  wp-content/themes/core/components/blocks/buttons/Buttons_Block_Controller.php
Due: phpcs-core

[5 8] Update WordPress to 5.8
  composer.json
  composer.lock
Due: none

[5 8] WordPress 5.8 allow blocks filter change. Add placeholder for query block
  wp-content/plugins/core/src/Blocks/Allowed_Blocks.php
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core

[5 8] WP5.8 disable widgets till we're ready to support them
  wp-content/plugins/core/src/Theme/Config/Supports.php
Due: phpcs-core

Removes Allow Blocks, Adds Deny List
  wp-content/plugins/core/src/Assets/Admin/JS_Config.php
  wp-content/plugins/core/src/Blocks/Allowed_Blocks.php
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Deny_Blocks.php
  wp-content/themes/core/assets/js/src/admin/config/wp-settings.js
  wp-content/themes/core/assets/js/src/admin/editor/deny-blocks.js
  wp-content/themes/core/assets/js/src/admin/editor/index.js
Due: phpcs-core

updates changelog
  changelog.md
Due: none

Update wp-content/plugins/core/src/Blocks/Deny_Blocks.php
  wp-content/plugins/core/src/Blocks/Deny_Blocks.php
Due: phpcs-core

Update wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core

Update class name
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
  wp-content/plugins/core/src/Blocks/Denied_Blocks.php
Due: phpcs-core

Even better class name.
  wp-content/plugins/core/src/Blocks/Block_Deny_List.php
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Blocks_Subscriber.php
Due: phpcs-core

Update to documentiontion removing Allowed Block References
  docs/basics/blocks.md
Due: none

SQONE-652 Add publicPath option to admin webpack configs.
  webpack/admindev.js
  webpack/adminprod.js
Due: none

SQONE-652 Add publicPath option to theme webpack configs.
  webpack/themedev.js
  webpack/themeprod.js
Due: none

SQONE-652 Update changelog
  changelog.md
Due: none

SQONE-658 Update postcss config to reduce compiled css duplication & provide documentation around config options.
  gulp-tasks/postcss.js
  package.json
  yarn.lock
Due: none

SQONE-658 Update change log
  changelog.md
Due: none

[5 8] changelog update
  changelog.md
Due: none

Only allow force deactivated plugins to be activated with SQ1_DEBUG define
  changelog.md
  local-config-sample.php
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

[SQONE-275] Post Single Subheader component, and share component adjustments
  wp-content/themes/core/assets/css/src/theme/actions/_mixins.pcss
  wp-content/themes/core/assets/css/src/theme/actions/actions.pcss
  wp-content/themes/core/components/header/subheader/Subheader_Controller.php
  wp-content/themes/core/components/header/subheader/Subheader_Single_Controller.php
  wp-content/themes/core/components/header/subheader/css/subheader.pcss
  wp-content/themes/core/components/header/subheader/subheader-single.php
  wp-content/themes/core/components/share/css/share.pcss
  wp-content/themes/core/components/share/share.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core

[SQONE-275] linting
  wp-content/themes/core/components/header/subheader/css/subheader.pcss
Due: none

[SQONE-275] use variables for spacing. Add wrapper for flex
  wp-content/themes/core/components/header/subheader/css/subheader.pcss
  wp-content/themes/core/components/header/subheader/subheader-single.php
Due: phpcs-core

[SQONE-275] Move tag data logic to top level controller route. Make tag just data inside of subheader single controller
  wp-content/themes/core/components/header/subheader/Subheader_Single_Controller.php
  wp-content/themes/core/components/header/subheader/subheader-single.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core

[SQONE-275] Add tags_list component
  wp-content/themes/core/assets/css/src/theme/actions/_mixins.pcss
  wp-content/themes/core/assets/css/src/theme/actions/actions.pcss
  wp-content/themes/core/components/tags_list/Tags_List_Controller.php
  wp-content/themes/core/components/tags_list/css/tags_list.pcss
  wp-content/themes/core/components/tags_list/index.js
  wp-content/themes/core/components/tags_list/index.pcss
  wp-content/themes/core/components/tags_list/js/tags_list.js
  wp-content/themes/core/components/tags_list/tags_list.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core

[SQONE-275] remove unused files
  wp-content/themes/core/components/tags_list/index.js
  wp-content/themes/core/components/tags_list/js/tags_list.js
Due: none

[SQONE-275] php cs unused import
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core

Properly set up the post so `the_date` etc... work
  wp-content/themes/core/single.php
Due: none

Update changelog.md
  changelog.md
Due: none

Add WPLoader to acceptance test suite
  dev/tests/tests/acceptance.suite.yml
Due: none

[SQONE-275] Add Primary Term Trait
  wp-content/plugins/core/src/Templates/Components/Traits/Primary_Term.php
  wp-content/themes/core/routes/single/Single_Controller.php
Due: phpcs-core

[SQONE-275] Add Single Footer Component
  gulp-tasks/postcss.js
  wp-content/themes/core/components/footer/single_footer/Single_Footer_Controller.php
  wp-content/themes/core/components/footer/single_footer/css/single_footer.pcss
  wp-content/themes/core/components/footer/single_footer/index.pcss
  wp-content/themes/core/components/footer/single_footer/single_footer.php
  wp-content/themes/core/routes/single/Single_Controller.php
  wp-content/themes/core/routes/single/single.php
Due: phpcs-core

Remove WPLoader from acceptance suite
  dev/tests/tests/acceptance.suite.yml
Due: none

Add SingleCest.php so we know if this ever breaks again
  dev/tests/tests/acceptance/Tribe/Project/Post/SingleCest.php
Due: none

Fix formatting
  dev/tests/tests/acceptance/Tribe/Project/Post/SingleCest.php
Due: none

[SQONE-275] data meta font size
  wp-content/themes/core/components/header/subheader/css/subheader.pcss
Due: none
