Repository moderntribe/square-one: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs-core, phpcs-mu

phpcs-core:
  run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

phpcs-mu:
  run: ./vendor/bin/phpcs -s --standard=./phpcs.xml.dist {staged_files}

Don't prefix commits for sprint or release branches
  .lefthook/prepare-commit-msg/prefix_with_jira_ticket
Due: none

Update changelog
  changelog.md
Due: none

Fix reference to renamed baseline
  psalm.xml.dist
Due: none

Combine actions to reduce usage
  .github/workflows/phpcs.yml
  .github/workflows/static-analysis.yml
Due: none

[libs-3 4 8] Update to tribe-libs 3.4.8 + monolog 2.0
  composer.json
  composer.lock
Due: none

[libs-3 4 8] Remove monolog, this dependency will be managed by tribe-libs now.
  composer.json
  composer.lock
Due: none

[libs-3 4 8] Update changelog.md
  changelog.md
Due: none

generate and use class prefix from wp_nav_menu parameters
  wp-content/plugins/core/src/Nav_Menus/Nav_Attribute_Filters.php
Due: phpcs-core

Revert "generate and use class prefix from wp_nav_menu parameters"
  wp-content/plugins/core/src/Nav_Menus/Nav_Attribute_Filters.php
Due: phpcs-core

bail on additional classes if theme location parameter is empty
  wp-content/plugins/core/src/Nav_Menus/Nav_Attribute_Filters.php
Due: phpcs-core

add changelog entry
  changelog.md
Due: none

Update can I use database.
  package.json
  yarn.lock
Due: none

apply nav menu classes only if `theme_location` parameter is specified
  changelog.md
  wp-content/plugins/core/src/Nav_Menus/Nav_Attribute_Filters.php
Due: phpcs-core

SQONE-523 Handle "More" drawer functionality for desktop.
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/js/section-nav.js
Due: none

SQONE-523 Moar progress on the "more" drawer.
  .gitignore
  wp-content/themes/core/components/section_nav/Section_Nav_Controller.php
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/js/section-nav.js
Due: phpcs-core

SQONE-523 Align more and mobile a bit.
  wp-content/themes/core/components/section_nav/Section_Nav_Controller.php
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/js/section-nav.js
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-523 Finish all base functionality.
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/js/section-nav.js
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-523 CSS Docs
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
Due: none

SQONE-523 Add optional desktop label to the section nav component.
  wp-content/themes/core/components/section_nav/Section_Nav_Controller.php
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/section_nav.php
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-523 Add position stick option to component.
  wp-content/themes/core/components/section_nav/Section_Nav_Controller.php
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-523 Add option to initialize the menu to open for mobile.
  wp-content/themes/core/components/section_nav/Section_Nav_Controller.php
  wp-content/themes/core/components/section_nav/js/section-nav.js
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-523 Drop demo markup.
  wp-content/themes/core/routes/page/page.php
Due: phpcs-core

SQONE-668 Add menu chooser plugin & require it.
  composer.json
  composer.lock
  wp-content/mu-plugins/force-plugin-activation.php
Due: phpcs-mu

SQONE-668 Add the block registration and model.
  wp-content/plugins/core/src/Blocks/Blocks_Definer.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav.php
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav_Model.php
Due: phpcs-core

SQONE-668 Add the block router & view to the theme.
  wp-content/themes/core/blocks/sectionnav/sectionnav.php
  wp-content/themes/core/components/blocks/section_nav/Section_Nav_Block_Controller.php
  wp-content/themes/core/components/blocks/section_nav/css/section_nav.pcss
  wp-content/themes/core/components/blocks/section_nav/index.pcss
  wp-content/themes/core/components/blocks/section_nav/section_nav.php
Due: phpcs-core

SQONE-668 Set sane defaults for block values.
  wp-content/plugins/core/src/Blocks/Types/Section_Nav/Section_Nav_Model.php
Due: phpcs-core

SQONE-668 Clean up default links styles in Sq1.
  wp-content/themes/core/assets/css/src/theme/typography/anchors.pcss
Due: none

SQONE-668 Drop contain els from block so sticky works correctly.
  wp-content/themes/core/components/blocks/section_nav/Section_Nav_Block_Controller.php
  wp-content/themes/core/components/blocks/section_nav/css/section_nav.pcss
  wp-content/themes/core/components/blocks/section_nav/section_nav.php
Due: phpcs-core

SQONE-668 Add sectionNav to block editor component scripts.
  wp-content/themes/core/assets/js/src/admin/editor/components.js
Due: none

SQONE-668 Add an intersection observer to add a cc class when stuck.
  wp-content/themes/core/components/section_nav/js/section-nav.js
Due: none

SQONE-668 Handle different cases & states for sticky on scroll when set up as a block.
  wp-content/themes/core/assets/css/src/theme/color/_variables.pcss
  wp-content/themes/core/components/blocks/section_nav/Section_Nav_Block_Controller.php
  wp-content/themes/core/components/blocks/section_nav/css/section_nav.pcss
  wp-content/themes/core/components/section_nav/css/section-nav.pcss
  wp-content/themes/core/components/section_nav/js/section-nav.js
Due: phpcs-core

Update docker docs for the so cli tool
  docs/getting-started/01_installation.md
  docs/getting-started/linux/install-guide-for-ubuntu.md
  docs/tooling/docker.md
Due: none

Update more docker references and build steps
  docs/getting-started/02_local-env.md
  docs/getting-started/03_build.md
  docs/getting-started/04_configuration.md
  docs/getting-started/05_structure.md
Due: none

Revisions from feedback.
  docs/getting-started/01_installation.md
  docs/getting-started/03_build.md
Due: none

update install instructions to link to single source
  docs/getting-started/01_installation.md
Due: none

Update docs/getting-started/01_installation.md
  docs/getting-started/01_installation.md
Due: none

add localwp link
  docs/getting-started/01_installation.md
Due: none

Path conditions:
  phpcs-core: any of: wp-content/{*themes,plugins*}/core/**/*.php
  phpcs-mu: any of: wp-content/mu-plugins/*.php
